body,
html {
  padding: 0;
  margin: 0;

  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;

  position: relative;
}

.banner {
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ef4444;
  color: white;
  font-weight: bold;
}

.container {
  /* display flex */
  display: flex;
  /* wrap the row when we reach the width of the container */
  flex-flow: row wrap;
  /* use space between the items */
  justify-content: space-between;
  /* Margins */
  width: 80vw;
  margin: 0 auto;
}

.card{
  width:250px;
  height: 300px;
  border: thin solid black;
  margin: 1em 0;
  padding: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Handle word wrap and word breal */
  overflow-wrap: break-word;
  word-break: break-all;
  /* Box Shadow*/
  box-shadow: 6px 1px 1px rgba(0, 0, 0, 0.2);
}
